openapi: 3.1.0
info:
  title: TikTok API for Business Ad Groups Orders API
  description: TikTok's advertising API enabling developers to create and manage ad campaigns, ad groups, creatives, audiences, and reporting for global advertisers on TikTok's platform.
  version: v1.3
  contact:
    name: TikTok API for Business
    url: https://business-api.tiktok.com/portal/docs
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://business-api.tiktok.com
  description: TikTok Business API Production
security:
- AccessToken: []
tags:
- name: Orders
  description: Order management and fulfillment
paths:
  /order/202309/orders:
    get:
      operationId: listOrders
      summary: List Orders
      description: Retrieves a list of orders for the seller's TikTok Shop with filtering and pagination.
      tags:
      - Orders
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: page_token
        in: query
        schema:
          type: string
      - name: order_status
        in: query
        schema:
          type: string
          enum:
          - UNPAID
          - ON_HOLD
          - AWAITING_SHIPMENT
          - AWAITING_COLLECTION
          - IN_TRANSIT
          - DELIVERED
          - COMPLETED
          - CANCELLED
        description: Filter by order status
      - name: create_time_ge
        in: query
        schema:
          type: integer
        description: Filter orders created after this Unix timestamp
      - name: create_time_lt
        in: query
        schema:
          type: integer
        description: Filter orders created before this Unix timestamp
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
  /order/202309/orders/{order_id}:
    get:
      operationId: getOrder
      summary: Get Order
      description: Retrieves detailed information about a specific order by its ID.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
components:
  schemas:
    LineItem:
      type: object
      properties:
        item_id:
          type: string
        product_name:
          type: string
        sku_id:
          type: string
        quantity:
          type: integer
        sale_price:
          $ref: '#/components/schemas/Price'
    OrderDetailResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          $ref: '#/components/schemas/Order'
    Order:
      type: object
      properties:
        order_id:
          type: string
        order_status:
          type: string
        create_time:
          type: integer
        paid_time:
          type: integer
        buyer_email:
          type: string
        recipient_address:
          $ref: '#/components/schemas/Address'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
    OrderListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            orders:
              type: array
              items:
                $ref: '#/components/schemas/Order'
            next_page_token:
              type: string
            total_count:
              type: integer
    Price:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
    Address:
      type: object
      properties:
        name:
          type: string
        phone_number:
          type: string
        address_line1:
          type: string
        city:
          type: string
        province_code:
          type: string
        postal_code:
          type: string
        region_code:
          type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: TikTok Business API access token
