openapi: 3.1.0
info:
  title: TikTok API for Business Ad Groups Finance API
  description: TikTok's advertising API enabling developers to create and manage ad campaigns, ad groups, creatives, audiences, and reporting for global advertisers on TikTok's platform.
  version: v1.3
  contact:
    name: TikTok API for Business
    url: https://business-api.tiktok.com/portal/docs
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://business-api.tiktok.com
  description: TikTok Business API Production
security:
- AccessToken: []
tags:
- name: Finance
  description: Settlement and financial reporting
paths:
  /finance/202309/payments:
    get:
      operationId: listPayments
      summary: List Payments
      description: Retrieves payment settlement records for the seller's TikTok Shop.
      tags:
      - Finance
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          default: 20
      - name: page_token
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Payment records retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
components:
  schemas:
    PaymentListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            payments:
              type: array
              items:
                type: object
                properties:
                  payment_id:
                    type: string
                  amount:
                    $ref: '#/components/schemas/Price'
                  status:
                    type: string
                  create_time:
                    type: integer
            next_page_token:
              type: string
    Price:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: TikTok Business API access token
