openapi: 3.1.0
info:
  title: TikTok API for Business Ad Groups Reporting API
  description: TikTok's advertising API enabling developers to create and manage ad campaigns, ad groups, creatives, audiences, and reporting for global advertisers on TikTok's platform.
  version: v1.3
  contact:
    name: TikTok API for Business
    url: https://business-api.tiktok.com/portal/docs
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://business-api.tiktok.com
  description: TikTok Business API Production
security:
- AccessToken: []
tags:
- name: Reporting
  description: Campaign performance reporting
paths:
  /open_api/v1.3/report/integrated/get/:
    get:
      operationId: getReport
      summary: Get Integrated Report
      description: Retrieves advertising performance reports with customizable dimensions, metrics, and date ranges. Supports BASIC, AUDIENCE, and CATALOG report types.
      tags:
      - Reporting
      parameters:
      - name: advertiser_id
        in: query
        required: true
        schema:
          type: string
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - BASIC
          - AUDIENCE
          - PLAYABLE_MATERIAL
          - CATALOG
          - BC
        description: Type of report to generate
      - name: data_level
        in: query
        required: true
        schema:
          type: string
          enum:
          - AUCTION_ADVERTISER
          - AUCTION_CAMPAIGN
          - AUCTION_ADGROUP
          - AUCTION_AD
        description: Data aggregation level
      - name: dimensions
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated dimensions (e.g., campaign_id,stat_time_day)
      - name: metrics
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated metrics (e.g., impressions,clicks,spend)
      - name: start_date
        in: query
        required: true
        schema:
          type: string
        description: Start date in YYYY-MM-DD format
      - name: end_date
        in: query
        required: true
        schema:
          type: string
        description: End date in YYYY-MM-DD format
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Report data returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
components:
  schemas:
    PageInfo:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total_number:
          type: integer
        total_page:
          type: integer
    ReportResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  dimensions:
                    type: object
                  metrics:
                    type: object
            page_info:
              $ref: '#/components/schemas/PageInfo'
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: TikTok Business API access token
