openapi: 3.2.0
info:
  title: TikTok Research Research Users API
  description: The TikTok Research API provides academic and institutional researchers access to TikTok public data. Supports querying videos, user information, comments, followers, following lists, liked videos, and reposted videos.
  version: v2
  contact:
    name: TikTok for Developers
    url: https://developers.tiktok.com/doc/research-api-get-started
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://open.tiktokapis.com
  description: TikTok Open API Production
security:
- BearerAuth: []
tags:
- name: Research Users
  description: User information for research
paths:
  /v2/research/user/info/:
    post:
      operationId: queryResearchUserInfo
      summary: Query Research User Info
      description: Retrieves public TikTok account information by TikTok handle. Returns fields such as display_name, bio_description, avatar_url, is_verified, follower_count, following_count, likes_count, and video_count.
      tags:
      - Research Users
      parameters:
      - name: fields
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoRequest'
      responses:
        '200':
          description: User info returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchUserInfoResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        log_id:
          type: string
    UserInfoRequest:
      type: object
      required:
      - username
      properties:
        username:
          type: string
          description: TikTok handle (without @)
    ResearchUserInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            display_name:
              type: string
            bio_description:
              type: string
            avatar_url:
              type: string
            is_verified:
              type: boolean
            follower_count:
              type: integer
            following_count:
              type: integer
            likes_count:
              type: integer
            video_count:
              type: integer
        error:
          $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (client credentials flow for Research API)
