openapi: 3.2.0
info:
  title: TikTok Shop Logistics API
  description: The TikTok Shop Partner API enables sellers and partners to manage product catalogs, process orders, handle logistics, and integrate with TikTok's commerce ecosystem. Base URL format includes shop_cipher for multi-shop support.
  version: v2
  contact:
    name: TikTok Shop Partner Center
    url: https://partner.tiktokshop.com/docv2/page/tts-api-concepts-overview
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://open-api.tiktokglobalshop.com
  description: TikTok Shop Global API
security:
- AccessToken: []
tags:
- name: Logistics
  description: Shipping and logistics operations
paths:
  /logistics/202309/orders/{order_id}/shipping_documents:
    get:
      operationId: getShippingDocument
      summary: Get Shipping Document
      description: Retrieves shipping label or packing slip documents for an order.
      tags:
      - Logistics
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      - name: document_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - SHIPPING_LABEL
          - PICK_LIST
      responses:
        '200':
          description: Shipping document retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingDocumentResponse'
components:
  schemas:
    ShippingDocumentResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            doc_url:
              type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: x-tts-access-token
      description: TikTok Shop API access token
