openapi: 3.2.0
info:
  title: TikTok Shop Finance API
  description: The TikTok Shop Partner API enables sellers and partners to manage product catalogs, process orders, handle logistics, and integrate with TikTok's commerce ecosystem. Base URL format includes shop_cipher for multi-shop support.
  version: v2
  contact:
    name: TikTok Shop Partner Center
    url: https://partner.tiktokshop.com/docv2/page/tts-api-concepts-overview
  termsOfService: https://developers.tiktok.com/doc/tiktok-api-terms-of-service
servers:
- url: https://open-api.tiktokglobalshop.com
  description: TikTok Shop Global API
security:
- AccessToken: []
tags:
- name: Finance
  description: Settlement and financial reporting
paths:
  /finance/202309/payments:
    get:
      operationId: listPayments
      summary: List Payments
      description: Retrieves payment settlement records for the seller's TikTok Shop.
      tags:
      - Finance
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          default: 20
      - name: page_token
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Payment records retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
components:
  schemas:
    Price:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
    PaymentListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            payments:
              type: array
              items:
                type: object
                properties:
                  payment_id:
                    type: string
                  amount:
                    $ref: '#/components/schemas/Price'
                  status:
                    type: string
                  create_time:
                    type: integer
            next_page_token:
              type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: x-tts-access-token
      description: TikTok Shop API access token
